<ul class="thumbnails">
  {{#each info}}
  <li class="span3">
    <div class="thumbnail">
      <a href="#" data-action="select_gallery" data-id="{{id}}">
        {{#if photo}}
        <img style="width:260px" src="/_photos/{{photo}}">
        {{#else}}
        <img src="http://placehold.it/260x180">
        {{/if}}
      </a>
      <div class="caption">
        <div class="pull-right">
          <a href="#" title="Edit"
            data-action="editgallery" data-id="{{id}}"><i class="icon-edit"></i></a>
          <a href="#" title="Remove"
            data-action="removegallery" data-id="{{id}}"><i class="icon-remove"></i></a>
        </div>
        <h5>{{title}}</h5>
        <p>{{description}}</p>
      </div>
    </div>
  </li>
  {{/each}}
</ul>
