<div class="page-header">
  <div class="pull-right">
    <a href="#" title="Upload" class="btn btn-large"
      data-action="uploadphoto" data-id="{{id}}"><i class="icon-plus"/>Upload</a>
  </div>
  <h1>{{title}}</h1>
</div>
<p>{{description}}</p>

<div class="row">
  <ul class="thumbnails">
    {{#each photos}}
    <li class="span3">
      <div class="thumbnail">
        <img style="width:260px" src="/_photos/{{id}}">
        <div class="caption">
          <div class="pull-right">
            <!--a href="#" title="Edit"
              data-action="editphoto" data-id="{{id}}"><i class="icon-edit"></i></a-->
              <a href="#" title="Remove"
                data-action="removephoto" data-id="{{id}}"><i class="icon-remove"></i></a>
          </div>
          <h5>{{name}}</h5>
          <p>{{description}}</p>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>