<div class="modal fade out" data-type="window" style="width: 430px">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Login with ...</h3>
    </div>
    <div class="modal-body">
      <a href="#" title="Facebook"
        data-action="facebook"><img src="/_gallery/buttons/facebook_128.png"/></a>
      <a href="#" title="Google"
        data-action="google"><img src="/_gallery/buttons/google_128.png"/></a>
      <a href="#" title="Github"
        data-action="github"><img src="/_gallery/buttons/github_128.png"/></a>
    </div>
</div>