<div class="modal fade out" data-type="window">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Remove gallery</h3>
  </div>
  <div class="modal-body">
    <h4>Are you sure you want to remove gallery?</h4>
  </div>
  <div class="modal-footer">
    <a href="#" data-action="close" class="btn">Cancel</a>
    <a href="#" data-action="confirm" class="btn btn-danger">Yes</a>
  </div>
</div>
