<h2>Online Users</h2>
<p>This is a list of <strong>currently logged-in users</strong> on the application.
You can click on a user and chat with them in real time.  The HTML that is generated
for the chat message uses the <a href="http://mustache.github.com/">Mustache</a> template
framework.
</p>
<div id="internal-chat"></div>