<div id="window{{uid}}" class="modal hide fade"
  style="disaplay: none; width: 400px">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Chat: {{name}}</h3>
  </div>
  <div class="modal-body">
    <div class="messages" style="height: 200px; overflow: auto">
    </div>
    <div data-entry="entry">
      Comment:<br />
      <textarea rows="1" style="width: 97%" name="message"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Close</a>
  </div>
</div>
